.hero {
    width: 100%;
    height: 100%;
    position: relative;
}

.smallSizeImg {
    object-fit: cover;
    width: 100%;
    height: 70vh;
}


.fullSizeImg {
    object-fit: cover;
    width: 100%;
    height: 100vh;
}

.hero-text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.hero-text-container h1 {
    font-size: 5rem;
    color: white;
    white-space: nowrap;
    text-shadow: var(--secondary) 1px 0 10px;
}

.hero-text-container p {
    font-size: 2rem;
    color: var(--primary);
    font-family: 'Josefin Sans';
    letter-spacing: -2px;
    width: 80%;
    margin: 4rem auto;
}



.quick-info {
    background-color: var(--highlights);
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 2px;
    font-size: 1.3rem;
    text-decoration: none;
    padding: 0.8rem;
    color: var(--secondary);
    position: relative;
    z-index: 2;
    width: 60%;
    opacity: .9;
}


/* quick info slide */
.tooltip-text {
    color: var(--secondary);
    visibility: hidden;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translateY(20%);
    padding: 2rem 0;
    z-index: 1;
    width: 100%;
    font-size: 1.1rem;
    background-color: var(--highlights);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(0%);
}


.tooltip:hover .tooltip-text {
    visibility: visible;
    transition: .8s transform;
    transform-origin: top;
    transform: translateY(18%);
}

.tooltip-text a {
    color: var(--secondary);
    padding: .5rem;
    width: 94%;
    font-weight: lighter;
    border:none;
    border: 1px solid var(--highlights);
}

.tooltip-text a:hover {
    cursor: pointer;
    /* transform: scale(1.1); */
    font-weight: 600;
    border: 1px solid white;


}

/* .hero-text-container .hide-button {
    display: none;
} */

@media screen and (max-width: 900px) {

    .hero-text-container h1 {
        font-size: 4rem;
        white-space:normal;
    }

    .hero-text-container p {
        font-size: 1.5rem;
    }


}

@media screen and (max-width: 500px) {

    .hero-text-container h1 {
        font-size: 4rem;
        white-space: normal;
    }

    .hero-text-container p {
        font-size: 1.5rem;
    }


}