:root {
    --primary: #F3EFE0;
    --secondary: #3b3838;
    --highlights: #d6c724;
    --fonts: #222222;
}


.navbar-container {
    background-color: var(--secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .50);
    width: 96%;
    height: 5rem;
    position: fixed;
    top: 2%;
    left: 2%;
    right: 2%;
    z-index: 3;
    border-radius: 5px;
    opacity: .96;
    animation: nav-load 600ms ease-out;
}


@keyframes nav-load {
    0% {
        transform: translateY(-100%);

    }

    100% {
        transform: translateY(0);
    }
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 0.2rem;
    align-items: center;
    list-style: none;
}


.nav-links {
    text-decoration: none;
    color: var(--primary);
    font-size: 1.2rem;
    padding: 0.6rem 1rem;
    white-space: nowrap;
}

.nav-links i {
    padding-right: 8px;
}

.nav-links:hover {
    color: var(--highlights);
    transition: all 0.5s ease-in-out;
}

.logo-container {
    display: inline-flex;
    align-items: center;
    
}



a {
    text-decoration: none;
}

.logo-container img {
    height: 2rem;
    padding-right: 1rem;
    animation: logo-load 800ms ease-in-out 1s;
    transform: translateX(-300%);
    animation-fill-mode: forwards;
}
@keyframes logo-load {
    0% { transform: translateX(-100%);}
    90% {transform: translateX(20%)}
    100% {transform: translateX(0%)}
}


.logo-container h1 {
    font-size: 2rem;
    cursor: pointer;
    background: linear-gradient(120deg, #ffdd03, #ffffff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  
}


.logo-container h1:hover {
    transform: scale(103%);
    transition: 0.5s ease-in-out;
}



.navbar-container button {
    background-color: var(--highlights);
    padding: 0.5rem 1rem;
    white-space: nowrap;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.navbar-container button:hover {
    background-color: var(--primary);
    color: var(--fonts);
    transform: scale(110%);
}

.menu-icon-mobile {
    display: none;
}

/* __________________Small screens________________________ */

@media screen and (max-width: 1024px) {
    .navbar-container {
        z-index: 2;
    }

    .nav-menu {
        position: absolute;
        right: -100%;
        opacity: 0;
        padding: 3rem 0;
    }

    .nav-menu-active {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: var(--secondary);
        list-style: none;
        width: 100%;
        height: auto;
        position: absolute;

        top: 0;
        margin: 0;
        padding: 3rem 0;
        right: 0;
        opacity: 1;
        transition: .4s ease-out;
        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .25);
        border-radius: 5px;

    }

    .nav-links {
        display: block;
        width: 100%;
        font-size: 1.2rem;
        padding: 0.5rem 0;
        color: var(--primary);
    }

    .nav-links:hover {
        background-color: var(--secondary);
        transition: none;
        padding: 0.4rem 0;
    }

    .navbar-container button {
        display: none;
    }

    /* .navlink-signup-mobile {
        display: block;
        text-align: center;
        text-decoration: none;
        padding: 0.5rem 0;
        margin: auto;
        border-radius: 3px;
        background-color: var(--highlights);
        color: var(--primary);
        font-size: 1.2rem;
        cursor: pointer;
    } */

    .menu-icon-mobile {
        display: block;
        z-index: 1;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .menu-icon-mobile:hover {
        /* transform: scale(150%); */
        transform: rotate(10deg);
        transition: 0.2s ease-in-out;
    }

    .menu-icon-mobile i {
        color: var(--highlights)
    }
}